@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Light.woff2') format("woff2"),
    url('../fonts/Quicksand-Light.woff') format("woff"),
    url('../fonts/Quicksand-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Regular.woff2') format("woff2"),
    url('../fonts/Quicksand-Regular.woff') format("woff"),
    url('../fonts/Quicksand-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Medium.woff2') format("woff2"),
    url('../fonts/Quicksand-Medium.woff') format("woff"),
    url('../fonts/Quicksand-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Bold.woff2') format("woff2"),
    url('../fonts/Quicksand-Bold.woff') format("woff"),
    url('../fonts/Quicksand-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Linearicons-Free';
  src: url('../fonts/Linearicons-Free.woff2') format('woff2'),
    url('../fonts/Linearicons-Free.woff') format('woff'),
    url('../fonts/Linearicons-Free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lnr {
  font-family: 'Linearicons-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lnr-magic-wand:before {
  content: "\e803";
}

.lnr-cloud-download:before {
  content: "\e80b";
}

.lnr-lock:before {
  content: "\e80f";
}

.lnr-heart:before {
  content: "\e813";
}

.lnr-envelope:before {
  content: "\e818";
}

.lnr-eye:before {
  content: "\e81b";
}

.lnr-license:before {
  content: "\e822";
}

.lnr-users:before {
  content: "\e82b";
}

.lnr-cart:before {
  content: "\e82e";
}

.lnr-phone-handset:before {
  content: "\e830";
}

.lnr-phone:before {
  content: "\e831";
}

.lnr-map-marker:before {
  content: "\e833";
}

.lnr-bubble:before {
  content: "\e83f";
}

.lnr-chart-bars:before {
  content: "\e843";
}

.lnr-leaf:before {
  content: "\e849";
}

.lnr-briefcase:before {
  content: "\e84c";
}

.lnr-smile:before {
  content: "\e854";
}

.lnr-alarm:before {
  content: "\e858";
}

.lnr-clock:before {
  content: "\e864";
}

.lnr-magnifier:before {
  content: "\e86f";
}

.lnr-chevron-down:before {
  content: "\e874";
}

.lnr-chevron-left:before {
  content: "\e875";
}

.lnr-chevron-right:before {
  content: "\e876";
}