html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $text;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  @include f400;
  font-size: 16px;
  line-height: 30px;
  color: $text;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #ffffff
}

.tag {
  padding: 0 17px;
  color: #868c96;
  font-size: 15px;
  border-radius: 14px;
  background-color: #f1f3f6;
  transition: all 0.3s;

  &:hover {
    background-color: #0674ec;
    color: #fff
  }
}

.btn {
  color: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;

  &:active {
    background-color: #0674ec;
    color: #ffffff;
  }

  &:hover {
    background-color: #ffffff;
    color: #0674ec;
  }
}

.avatar {
  &__image {
    border-radius: 50%;
    background-color: rgb(124, 121, 121);
    object-fit: cover;
    object-position: center;

    &--tiny {
      width: 28px;
      height: 28px;
    }

    &--small {
      width: 30px;
      height: 30px;
    }

    &--medium {
      width: 40px;
      height: 40px;
    }

    &--large {
      width: 50px;
      height: 50px;
    }

    &--big {
      width: 80px;
      height: 80px;
    }

    &--huge {
      width: 100px;
      height: 100px;
    }

  }
}

.rate-star--hidden {
  display: none;
}


// .container-fluid {
//   max-width: 100%;
//   margin: 0 auto;
//   padding: 0 30px;
// }

// @media (max-width: 720px) {
//   .container-fluid {
//     padding: 0 15px;
//   }
// }