html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $text;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  @include f400;
  font-size: 16px;
  line-height: 30px;
  color: $text;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  color: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  transition: all 0.3s;
  text-decoration: none;
  &--active {
    background-color: #ffffff;
    color: #0674ec;
  }
}


// .container-fluid {
//   max-width: 100%;
//   margin: 0 auto;
//   padding: 0 30px;
// }

// @media (max-width: 720px) {
//   .container-fluid {
//     padding: 0 15px;
//   }
// }