html {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(6, 116, 236, 0.1);
  border-radius: 10px
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.856);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(33, 116, 236, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 6px rgba(33, 116, 236, 1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42;
  color: var(--emperor-color);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: var(--black-color);
  font-size: 30px;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: var(--white-color);
}

.title-big {
  font-size: 36px;
  color: var(--black-color);

  &--blue {
    color: var(--azure-radiance);
  }
}

.tag {
  display: inline-block;
  padding: 5px 17px;
  color: #868c96;
  font-size: 15px;
  border-radius: 15px;
  background-color: #f1f3f6;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  outline: transparent;
  transition: background-color 0.3s linear, color 0.3s linear, box-shadow 0.1s ease-in-out, ;

  &:hover {
    background-color: var(--azure-radiance);
    color: var(--white-color);
  }

  &:focus {
    box-shadow: 0 0 0 3px lightskyblue;
  }

  &:active {
    background-color: var(--white-color);
    color: var(--azure-radiance);
  }
}

.btn {
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 28px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s linear, color 0.3s linear, box-shadow 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    background-color: var(--white-color);
    color: var(--azure-radiance);
  }

  &:focus {
    outline: transparent;
    box-shadow: 0px 0px 0px 1px var(--white-color);
  }

  &:active {
    background-color: var(--azure-radiance);
    color: var(--white-color);
  }
}

.avatar {
  &__image {
    border-radius: 50%;
    background-color: rgb(124, 121, 121);
    object-fit: cover;
    object-position: center center;

    &--tiny {
      width: 28px;
      height: 28px;
    }

    &--small {
      width: 30px;
      height: 30px;
    }

    &--medium {
      width: 40px;
      height: 40px;
    }

    &--large {
      width: 50px;
      height: 50px;
    }

    &--big {
      width: 80px;
      height: 80px;
    }

    &--huge {
      width: 100px;
      height: 100px;
    }
  }
}

.arrow {
  position: relative;
  width: 55px;
  height: 45px;
  transition: background-color 1s ease-in-out;

  &__prev,
  &__next {
    position: absolute;
    font-size: 14px;
    color: var(--white-color);
    transition: font-size 0.1s linear, opacity 0.2s ease-in-out;

    &:hover {
      font-size: 20px;
    }

    &:focus {
      outline: transparent;
      opacity: 0.8;
      font-size: 20px;
    }

    &:active {
      font-size: 10px;
    }
  }

  &__prev {
    left: 1px;
    border-radius: 40px 0px 0px 40px;
  }

  &__next {
    right: 1px;
    border-radius: 0px 40px 40px 0px;
  }

  &--purple {
    background-color: var(--fuchsia-blue);
  }

  &--azure {
    background-color: var(--azure-radiance);
  }
}

.featured-product-slider-container {
  max-width: 1140px;
  width: 100%;
  height: 450px;
}

.featured-products__arrows,
.follower-feed__arrows,
.testimonial__slider-wrap {

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
}

.product-card {
  border-radius: 4px;
  background-color: var(--white-color);

  &__wrap {
    position: relative;
    width: 100%;

    &:hover .product-card__link {
      opacity: 0.9;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    background-color: #4e5760;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px 0 0 4px;
    background-color: #009688;
    background-image: linear-gradient(to left, var(--azure-radiance) 0%, #7347c1 100%);
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  &__btn {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    border: 1px solid #f4f4f4;
    opacity: 1;
    margin: 0 5px;
    padding: 10px 28px;
  }

  &__title {
    display: inline-block;
    color: var(--black-color);
    word-spacing: 1px;
  }

  &__content-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 26px;
  }

  &__user {
    display: flex;
    outline: transparent;
    transition: filter 0.3s linear, text-decoration 0.1s ease-in-out, color 0.2s ease-out;

    &:hover {
      filter: drop-shadow(0px 5px 7px black);
    }

    &:focus {
      .product-card__user-name {
        text-decoration: underline;
      }
    }

    &:active {
      .product-card__user-name {
        color: var(--azure-radiance);
      }
    }
  }

  &__user-name {
    color: var(--black-color);
    font-size: 15px;
    margin-right: 20px;
  }

  &__category {
    display: flex;
    align-items: center;
    outline: transparent;
    transition: filter 0.3s linear, text-decoration 0.1s ease-in-out, color 0.1s ease-in-out;

    &:hover {
      filter: drop-shadow(0px 5px 7px black);
    }

    &:focus {
      .product-card__category-name {
        text-decoration: underline;
      }
    }

    &:active {
      .product-card__category-name {
        color: var(--azure-radiance);
      }
    }
  }

  &__category-icon {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__category-name {
    color: var(--fuchsia-blue);
    padding-left: 10px;
    font-size: 15px;
  }

  &__text {
    max-height: 120px;
    color: var(--emperor-color);
    overflow-x: hidden;
    line-height: 1.9;

    p {
      margin: 0;

    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer-price {
    padding: 2px 18px;
    margin-right: 19px;
    color: var(--white-color);
    border-radius: 16px;
    background-color: var(--azure-radiance);
    font-weight: 500;
  }

  &__footer-like,
  &__footer-cart {
    position: relative;
    border: none;
    background-color: transparent;
    transition: filter 0.3s linear, transform 0.5s ease-out;
    cursor: pointer;

    &::before {
      position: absolute;
      left: 3px;
      font-family: 'Linearicons-Free';
    }

    &:hover {
      filter: drop-shadow(0px 5px 7px black);
    }

    &:focus {
      outline: transparent;
      text-decoration: underline;
    }

    &:active {
      transform: rotate(360deg);
    }


  }

  &__footer-like {
    padding-left: 28px;
    margin-right: 9px;

    &::before {
      content: '\e813';
      color: var(--fuchsia-blue);
    }
  }

  &__footer-cart {
    margin-right: auto;
    padding-left: 25px;
    color: var(--azure-radiance);

    &::before {
      content: '\e82e';
    }
  }

  .jq-ry-normal-group svg {
    fill: var(--white-color);
    stroke: #ffc000;
    stroke-width: 40;
  }
}

.rate-star {
  &--hidden {
    display: none;
  }
}