:root {
  --emperor-color: #555555;
  --black-color: #000000;
  --white-color: #ffffff;
  --fuchsia-blue: #7347c1;
  --azure-radiance: #0674ec;
  --picton-blue: rgba(60, 145, 236, 0.878);
  --hawkes-blue: #e6f1fd;
  --athens-gray: #eff1f5;
}

@mixin ul-li-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// @media (768px <=width <= 1024px) {}