@import 'fonts';
@import 'vars';
@import 'global';

@import 'components/header';


// start digital product 

.digital-product {
  height: 724px;
  padding-top: 168px;
  padding-bottom: 239px;
  background-color: #441c7c;
  background: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%), url(../images/bg.jpg) no-repeat scroll center center;
  color: #f3f3f8;

  &__inner {
    text-align: center;
  }

  &__title-text {
    margin: 0;
    @include f700;
    font-size: 60px;
    line-height: 70px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    &:first-child {
      @include f400;
    }
  }

  &__text {
    margin: 9px 0px 44px;
    word-spacing: 1px;
    font-size: 20px;
    line-height: 72px;
    @include f500;
  }

  &__btn {
    display: inline-block;
    margin: 0px 14px;
    border: 1px solid #ffffff;
    padding: 11px 31px;
    @include f400;
    font-size: 16px;
  }


  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 167px;
  }

  &__form {
    position: relative;
    display: flex;
    max-width: 1140px;
    width: 100%;
    height: 135px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: #ffffff;

    &::after,
    &::before {
      position: absolute;
      content: '';
      height: 45px;
      border-radius: 6px;
      background-color: #ffffff;
      opacity: 0.5;
    }

    &::after {
      max-width: 1080px;
      width: 100%;
      top: -26px;
      left: 30px;
    }

    &::before {
      max-width: 1110px;
      width: 100%;
      top: -13px;
      left: 15px;
    }
  }

  &__search {
    max-width: 612px;
    width: 100%;
    height: 55px;
    padding: 20px 29px;
    @include f400;
    font-size: 16px;
    color: #676767;
    border-radius: 4px 0 0 4px;
    border: 1px solid #dcdcdc;
    border-right: none;
    outline: transparent;
    transition: box-shadow 0.3s ease-out;

    &:hover {
      box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.15);
    }

    &:focus {
      box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.15);
    }
  }

  &__select {
    position: relative;
    max-width: 194px;
    width: 100%;
    height: 55px;
    padding: 10px 45px 10px 20px;
    @include f400;
    font-size: 16px;
    color: #555555;
    border-radius: 0 4px 4px 0;
    border: 1px solid #dcdcdc;
    appearance: none;
    background-image: url(../images/chevron-down.svg);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: 160px center;
    outline: transparent;
    transition: box-shadow 0.3s ease-out;

    &:focus {
      box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.15);
    }

    &:hover {
      box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.15);
    }
  }

  &__submit {
    margin-left: 30px;
    max-width: 223px;
    width: 100%;
    height: 55px;
    @include f400;
    font-size: 16px;
    color: #fff;
    background-color: $blue;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: transparent;
    transition: box-shadow 0.3s ease-out;

    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    &:active {
      box-shadow: inset 2px 1px 5px 0px black;
    }
  }
}

// end digital product

// start features

.features {
  min-height: 710px;
  padding: 186px 0 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

  }

  &__card {
    max-width: 361px;
    width: 100%;
    padding: 41px 34px 49px;
    border-radius: 4px;
    background-color: #ffffff;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    }

  }

  &__img {
    height: 120px;
    display: block;
    margin-bottom: 27px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    margin-bottom: 20px;
    @include f400;
    font-size: 24px;
    color: $black;
  }

  &__text {
    @include f400;
    color: $black;
    font-size: 16px;
  }
}


// end features

// start featured-products
.featured-products {
  height: 850px;
  background-color: #eff1f5;
  padding: 120px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    height: 110px;
    padding: 0 30px;
    margin-bottom: 48px;
  }

  &__arrows {
    position: relative;
    width: 110px;
    height: 45px;
    border-radius: 23px;

  }
}

.featured-product-slider-container {
  max-width: 1140px;
  width: 100%;
  height: 450px;
}

.featured-products__arrows {

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }

}

.swiper-button {
  position: absolute;

  &-prev,
  &-next {
    font-size: 14px;
    color: #ffffff;
    transition: all 0.3s;

    &:hover {
      font-size: 20px;
    }
  }
}

.featured-product {
  display: flex;
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);


  &__wrap {
    max-width: 555px;
  }

  &__image {
    max-height: 450px;
    border-radius: 4px 0 0 4px;
  }

  &__content {
    max-width: 489px;
    width: 100%;
    padding: 45px 48px 24px;
  }

  &__title {
    padding-bottom: 14px;
    font-weight: 500;
    font-size: 24px;
  }

  &__link {
    padding-bottom: 10px;
  }

  &__user-avatar {
    height: 30px;
  }

  &__user-name {
    padding-left: 9px;
    margin-right: 18px;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
  }

  &__text {
    margin: 0 0 16px;
  }

  &__tags {
    padding-bottom: 34px;
    border-bottom: 1px solid #ececec;
  }
}

.featured-product,
.release-product {
  &__footer {
    padding-top: 23px;
  }

}

// end featured-products

// start realease product 
.release-products {
  height: 1726px;
  background-color: #f6f7fb;
  padding: 120px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    height: 110px;
    padding: 0px 29px;
    margin-bottom: 30px;
  }

  &__filter {
    position: relative;
    padding: 20px 32px 24px 10px;
    font-size: 16px;
    color: #747b86;
    text-align: left;

    &:before {
      content: '';
      position: absolute;
      top: 27px;
      right: 3px;
      width: 5px;
      height: 20px;
      background-image: url(../images/icons/dots.png);
    }

    &:hover {
      .release-products__dropdown {
        opacity: 1;
        display: block;
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: 70px;
    right: -20px;
    width: 183px;
    height: 179px;
    padding: 17px 28px;
    text-align: left;
    line-height: 1.8;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    z-index: 3;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: -12px;
      right: 17px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 16px 9px;
      border-color: transparent transparent #ffffff transparent;
    }

    &:hover {
      display: block;
      opacity: 1;
    }
  }

  &__dropdown-link {
    display: inline-block;
    font-size: 15px;
    color: #747b86;
    font-weight: 400;

    &:hover {
      color: $blue;
    }
  }

  &__tags {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 92px;
    padding: 0px 30px;
    margin-bottom: 50px;

  }

  &__tag {
    padding: 8px 17px;
    border: none;
  }

  &__tag:not(:last-child) {
    margin-right: 15px
  }
}

.release-product {

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }

  &__card {
    max-width: 360px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
  }

  &__wrap {
    height: 230px;
  }

  &__img {
    max-width: 360px;
    height: 230px;
  }

  &__link {
    border-radius: 4px 4px 0 0;
  }

  &__content {
    padding: 25px 27px 0;
    font-weight: 500;
  }

  &__title {
    font-size: 20px;
    padding-bottom: 10px;
  }

  &__link-info {
    padding-bottom: 8px;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__user-avatar {
    height: 28px;
    margin-right: 8px;
  }

  &__user-name {
    font-size: 15px;
    margin-right: 18px;
  }

  &__category-name {
    padding-left: 7px;
  }

  &__text {
    font-weight: 400;
    margin: 0 0 12px;
  }


  &__footer {
    justify-content: space-around;
    padding: 13px 0;
    font-size: 15px;
    border-top: 1px solid #ececec;
  }

  &__footer-price {
    margin-left: 28px;
  }

  &__footer-like {
    margin-left: 13px;
    margin-right: 5px;
    padding-left: 20px;
  }

  &__footer-cart {
    margin-left: auto;
    margin-right: 25px;
  }
}

.release-product {
  &__btn {
    display: block;
    margin: 0 auto;
    padding: 19px 33px;
    @include f400;
    color: #ffffff;
    background-color: #0674ec;
    border: none;
    outline: transparent;
    cursor: pointer;
  }
}


// end realease product 