.banner {
  padding: 95px 0 127px;
  background-color: var(--black-color);
  background-image: linear-gradient(-90.0deg, #0d3ef2 0%, #7221a0 100%);

  &__container {
    text-align: center;
  }

  &__title {
    margin-bottom: 12px;
    color: var(--white-color);
  }

  &__text {
    margin-bottom: 65px;
    font-size: 18px;
    color: #e7e7e7;
  }

  &__btn {
    padding: 17px 43px;
    color: var(--azure-radiance);
    background-color: var(--white-color);

    &:hover {
      color: var(--white-color);
      background-color: var(--azure-radiance);
    }
  }
}