.choose {
  padding: 107px 0 90px;
  text-align: center;

  @include r(768) {
    padding: 50px 0 60px;
  }

  @include r(567) {
    padding: 50px 0 60px;
  }

  &__title {
    @include h-reset;
    margin-bottom: 20px;
  }

  &__desc {
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;

    @include r(768) {
      margin-bottom: 35px;
      font-size: 15px;
    }

    @include r(576) {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include ul-li-reset;
    counter-reset: section;

    @include r(1200) {
      justify-content: space-evenly;
    }
  }

  &__item {
    position: relative;
    flex: 0 1 360px;
    padding: 42px 34px 65px;
    margin-bottom: 26px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.07);
    border-radius: 4px;

    @include r(1200) {
      padding: 32px 20px 50px;
    }

    &::before {
      position: absolute;
      counter-increment: section;
      content: '0'counter(section);
      top: 2px;
      left: 17px;
      font-size: 48px;
      font-weight: 300;
      color: #5c87f8;
      opacity: 0.2;
    }
  }

  &__icon {
    display: block;
    margin-bottom: 20px;
    font-size: 60px;

    &--blue {
      color: var(--azure-radiance);
    }

    &--purple {
      color: #7f4ec2;
    }

    &--green {
      color: var(--pastel-green);
    }

    &--yellow {
      color: var(--sin-color);
    }

    &--lblue {
      color: var(--turquoise-blue);
    }

    &--red {
      color: var(--bittersweet-color);
    }
  }

  &__subject {
    margin: 0;
    margin-bottom: 3px;
    font-size: 24px;
    font-weight: 400;
    color: var(--black-color);
    @include line-clamp($font-size: 24px, $line-height: 1.42, $lines-to-show: 1);

    @include r(768) {
      font-size: 22px;
    }

    @include r(576) {
      font-size: 18px;
    }

  }

  &__text {
    @include line-clamp($font-size: 16px, $line-height: 2, $lines-to-show: 4);



    p {
      @include line-clamp($font-size: 16px, $line-height: 1.9, $lines-to-show: 4);

      @include r(768) {
        font-size: 15px;
      }

      @include r(576) {
        font-size: 14px;
      }
    }

  }
}