.follower-feed {
  padding: 120px 0;
  background-color: var(--athens-gray);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 30px;
    margin-bottom: 50px;
    max-width: 1140px;
    width: 100%;
  }

  &__title {
    @include h2-reset;
  }

  &__arrows {
    position: relative;
    width: 110px;
    height: 45px;
    border-radius: 23px;
  }

  .release-product {

    &__inner {
      flex-wrap: nowrap;
      margin: 0;

    }

    &__card {
      margin: 0;
      flex-basis: auto;
    }

  }
}