.header {
  &__top {
    padding: 22px 0 20px;
    background-color: #eef1f3;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding-left: 7px;
    padding-top: 3px;
  }

  &__seller-link {
    margin-left: auto;
    margin-right: 52px;
    font-size: 14px;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s ease-in-out;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px lightskyblue;
    }

    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    &:active {
      box-shadow: 0 0 0 1px var(--black-color);
    }
  }

  &__icon {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 25px;
    text-align: center;
    font-size: 20px;
    color: #7e8fa1;
    transition: text-shadow 0.5s linear, color 0.3s linear;

    &:last-child {
      margin-right: 45px;
    }

    &:focus {
      outline: none;
      color: var(--azure-radiance);
    }

    &:hover {
      text-shadow: 0px 0px 1px var(--black-color);
    }

    &:active {
      color: var(--white-color);
    }
  }

  &__count {
    position: absolute;
    top: -15px;
    right: -6px;
    border-radius: 50%;
    padding: 0px 7px;
    line-height: 1.6;
    color: var(--white-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;

    &--red {
      background-color: #ff6a6c;
    }

    &--green {
      background-color: #62d03b;
    }

    &--blue {
      right: -15px;
      background-color: var(--azure-radiance);
    }
  }

  &__menu {
    background-color: var(--white-color);
  }

  &__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    max-width: 360px;
    width: 100%;
    position: relative;
  }

  &__form-search {
    width: 100%;
    padding: 13px 70px 15px 23px;
    font-size: 15px;
    color: #898f96;
    border: 1px solid #d9dfe5;
    border-radius: 23px;
    outline: transparent;
    transition: box-shadow 0.5s ease, background-color 0.1s linear;

    &:focus {
      box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.15);
    }

    &:hover {
      box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.15);
    }

    &:active {
      background-color: var(--hawkes-blue);
    }
  }

  &__form-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    border: none;
    border-radius: 23px;
    max-width: 70px;
    width: 100%;
    padding: 16px 10px;
    outline: transparent;
    transition: box-shadow 0.2s linear, background-color 0.2s linear, color 0.2s linear;

    &:focus {
      box-shadow: 0px 0px 0px 1px var(--black-color);
    }

    &:hover {
      box-shadow: 0px 0px 0px 1px var(--picton-blue);
    }

    &:active {
      background-color: var(--picton-blue);
      color: var(--black-color);
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  padding: 29px 0;

  &__list {
    display: flex;
    align-items: center;
    @include ul-li-reset;
  }

  &__item {
    @include ul-li-reset;

    &+& {
      margin-left: 33px;
    }
  }

  &__link {
    font-size: 15px;
    font-weight: 500;
    color: #333333;
    text-transform: uppercase;
    transition: text-shadow 0.3s linear;

    &:focus {
      outline: transparent;
      text-decoration: underline;
    }

    &:hover {
      text-shadow: 1px 1px 7px black;
    }

    &:active {
      color: var(--azure-radiance);
    }
  }
}