.support {

  &__container {
    display: flex;
    padding: 0 30px;
  }

  &__money,
  &__supprt {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
  }

  &__money {
    border-right: 1px solid #e8eaf3;
    height: 297px
  }

  &__image {
    min-height: 120px;
    max-width: 155px;
    width: 100%;
    margin-bottom: 27px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    font-size: 24px;
    color: var(--black-color);

    &--blue {
      color: var(--azure-radiance);
    }

    &--purple {
      color: var(--fuchsia-blue);
    }
  }
}