.testimonial {
  padding: 108px 0 136px;
  text-align: center;
  position: relative;

  @include r(768) {
    padding: 50px 0 90px;
  }

  @include r(567) {
    padding: 50px 0 70px;
  }

  &__title {
    @include h-reset;
    margin-bottom: 15px;
  }

  &__desc {
    max-width: 680px;
    margin: 0 auto;
    line-height: 1.9;

    @include r(768) {
      font-size: 15px;
    }

    @include r(576) {
      font-size: 14px;
    }
  }

  .swiper-container {
    @include r(576) {
      margin-bottom: 20px;
    }
  }

  .swiper-wrapper,
  .swiper-slide {
    @include ul-li-reset;
  }

  .swiper-pagination {
    bottom: 20px;
    left: 0;
    right: 0;
    display: block;

    @include rmin(576) {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    margin: 0 5px;
  }

  &__wrap {
    position: relative;
    margin-bottom: 6px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }

  &__control {

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 211px;
      border-radius: 25px;
      filter: drop-shadow(0px 4px 7.5px rgba(67, 67, 67, 0.15));
      background-color: var(--white-color);
      z-index: 100;
      border: none;
      outline: transparent;
      transition: font-size 0.1s ease-in-out, box-shadow 0.2s ease-in-out;

      @include r(576) {
        display: none;
      }

      &:focus {
        box-shadow: 0 0 0 3px lightskyblue;
      }

      &:hover {
        font-size: 24px;
      }

      &:active {
        font-size: 12px;
      }
    }

    .swiper-button-prev {
      left: -24px;
      right: auto;
      color: var(--fuchsia-blue);

      @include r(1200) {
        left: -10px;
      }
    }

    .swiper-button-next {
      right: -24px;
      left: auto;
      color: var(--azure-radiance);

      @include r(1200) {
        right: -10px;
      }
    }
  }

  &__card {
    max-width: 555px;
    flex-shrink: 0;
    padding: 50px 38px 45px;
    margin: 55px 0 70px;
    background-color: var(--white-color);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.07);
    border-radius: 0 4px 4px 0;
    border-left: 2px solid var(--azure-radiance);

    @include r(992) {
      max-width: 100%;
    }

    .user-box {
      position: relative;
      align-items: start;
      justify-content: start;
      margin-bottom: 15px;

      &::before {
        content: "\e83f";
        position: absolute;
        font-family: 'Linearicons-Free';
        bottom: 12px;
        right: 3px;
        font-size: 60px;
        color: #e8e8e8;

        @include r(450) {
          font-size: 0;
        }
      }

      &__wrap {
        align-items: flex-start;
        margin: 0;
        padding-top: 8px;

        @include r(768) {
          font-size: 16px;
        }
      }

      &__name {
        padding-bottom: 7px;
        max-width: 270px;
        font-size: 20px;

        @include r(768) {
          font-size: 16px;
        }
      }

      &__vocation {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        max-width: 200px;
        text-align: left;
        color: var(--emperor-color);
      }
    }

    .avatar {
      margin-right: 18px;
    }
  }

  &__text {
    max-height: 120px;
    text-align: left;
    line-height: 1.9;
    overflow-x: hidden;

    @include r(768) {
      font-size: 14px;
    }

    p {
      margin: 0;

      @include r(768) {
        font-size: 14px;
      }
    }

  }

  &__btn {
    background-color: var(--azure-radiance);
    padding: 17px 34px;

    @include r(992) {
      padding: 14px 25px;
      font-size: 14px;
    }

    @include r(768) {
      padding: 12px 18px;
      font-size: 12px;
    }
  }
}